
     
     <div class="mt-5" *ngFor="let review of reviews | async">
      <app-pm-review [review]="review"></app-pm-review>
    </div>
     
     
     
     <div>
     <h2>Recensioni dell'utente</h2>
     <ul>
       <li *ngFor="let review of userReviews | async">
        <div class="product-review">
          <pm-social-icon [user]="review.user"></pm-social-icon>
          <p>{{ review.testo_recensione }}</p>
          <!-- Aggiungi qui ulteriori dettagli sulla recensione, come rating e data -->
        </div>
         <!-- Altri dettagli della recensione -->
       </li>
     </ul>
   </div>
   
   <div>
     <h2>Recensioni del prodotto</h2>
     <ul>
       <li *ngFor="let review of productReviews | async">
         <p>Recensione: {{ review.testo_recensione }}</p>
         <pm-social-icon [user]="review.user"></pm-social-icon>
         <!-- Altri dettagli della recensione -->
       </li>
     </ul>
   </div>