/* fc-slider.component.css */
.slider-container {
  display: flex;
  overflow-x: auto;
}

.slider-item {
  flex: none;
  margin-right: 15px;
  text-align: center;
  cursor: pointer;
  width: 250px; /* Larghezza fissa dell'elemento slider */
}

.item-image {
  max-width: 100%; /* Assicura che l'immagine non superi la larghezza dell'elemento */
  height: auto;
}

.item-title {
  font-weight: bold;
}

.item-description {
  font-size: smaller;
}
