<div class="container mt-5">
    <app-fc-accordion-item *ngFor="let ordine of listaOrdini; let i = index"
        [title]="i == 0 ? 'Ultimo ordine' : ordine.title"
        [quickActionsTemplate]="accordionDetail"
        [isExpanded]="i==0"
    >

    <ul>
        <li><strong>Prezzo:</strong> {{ ordine.prezzoTotale }} €</li>
        <li><strong>Data acquisto:</strong> {{ ordine.dataAcquisto }}</li>
        <li><strong>Indirizzo spedizione:</strong> {{ ordine.indirizzoSpedizione }}</li>
        
    </ul>
    <app-fc-slider [items]="ordine.items" (itemClicked)="handleItemClicked($event)"></app-fc-slider>

    </app-fc-accordion-item>

</div>

<ng-template #accordionDetail>
<button>Riproponi</button>
</ng-template>