<div class="container h-100 font">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
            <div style="border-radius: 25px;">
                <div class="card-body p-md-5">
                    <div class="row justify-content-center">
                        <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                            <p class="h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Registrati</p>

                            <form class="mx-1 mx-md-4" novalidate>

                                <div class="d-flex flex-row align-items-center mb-4">
                                    <div class="d-flex align-items-center">
                                        <div class="mb-2">
                                        </div>
                                        <div class="form-outline flex-fill mb-0">
                                           
                                            <label class="form-label" for="form3Example1c">Nome</label>
                                            <input type="text" #input name="nome" required id="form3Example1c" class="form-control"[(ngModel)]="nome" />
                                            <label class="form-label" for="form3Example1c">cognome</label>
                                            <input type="text" name="cognome" required id="form3Example2c"  [(ngModel)]="cognome" class="form-control" />

                                        </div>
                                    </div>
                                </div>

                                <div class="d-flex flex-row align-items-center mb-4">
                                    <div class="d-flex">

                                        <div class="form-outline flex-fill mb-0">
                                            <input type="email" name="email" [(ngModel)]="email"
                                                id="form3Example3c" class="form-control" />
                                            <label class="form-label" for="form3Example3c">Email</label>
                                        </div>

                                      
                                    </div>
                                </div>
                                <div class="d-flex flex-row align-items-center mb-4">
                                    <div class="d-flex">
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="password" [(ngModel)]="password" name="password"  placeholder
                                                id="form3Example4c" required class="form-control" />
                                            <label class="form-label" for="form3Example4c">Password</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex flex-row align-items-center mb-4">
                                    <div class="d-flex">
                                        <div class="d-flex">
                                            <div class="form-outline flex-fill mb-0">
                                                <input type="password" name="passwordCtrl" 
                                                    id="form3Example5cd" class="form-control" />
                                                <label class="form-label" for="form3Example4cd">Ripeti password</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-check d-flex justify-content-center mb-2">
                                    <input class="form-check-input" type="checkbox" value="" id="form2Example3c" />
                                    <label class="form-check-label" for="form2Example3">
                                        Ho capito e accetto <a href="#!">Termini di utilizzo</a>
                                    </label>
                                </div>

                                <div class="d-flex  mb-lg-4">
                                    <input type="submit"  type="submit" (click)="registerUser()"   class="btn btn-primary ms-5 btn-lg">Registrati             
                                                        </div>
                                

                            </form>
                          
                        </div>
                        <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                            <img src="https://crowdinvestitalia.it/img/registrati.png" class="img-fluid w-100">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
